@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1 {
    margin: 15px;
    margin-top: 50px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.test {
    font-size: 2000%;
}

.flex-container {
    background-image: url(../images/monster-g327c6af21_1280.png),url(../images/vinyl-ga1f2abbe5_1280.png);
    background-repeat: no-repeat;
    background-position: top right,bottom left;
    background-size: 50%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.feature {
    width: auto;
    background-color: slategrey;
    text-align: center;
    margin: 20px;
    width: 500px;
    max-width: 500px;
    height: 500px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

#disclaimer {
    color: black;
    background-color: lightgray;
    text-align: center;
    opacity: 75%;
    padding: 1px;
    padding-bottom: 25px;
}

#disclaimer h2 {
    font-size: 40px;
}

#monster {
    float: right;
    background-image: ;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
}

#navbar li img {
    height: 70px;
}
    
#navbar li a:hover {
    background-color: rgb(70, 73, 73);
}